.wrap{

}
.container{
    display: flex;
    flex-direction: column;
}
.dateAndTime{
    display: flex;
    justify-content: space-around;
}
.check{
    display: flex;
    flex-direction: column;

}
.title{
    display: flex;
}
.match{

}
.buttonClose{
    width: 40px;
    position: relative;
    left: 94%;
}
.buttonSub{
    left: 80%;
    position: relative;
}