.wrap{

}
.container{
    display: flex;
    flex-direction: column;
}
.container button{
    width: 40px;
    position: relative;
    left: 94%;
}

.dateAndTime{
    display: flex;
    justify-content: space-around;
}
.check{
    display: flex;

}
.match{

}