.footer {
    height: 45vh;
    width: 100%;
    background-color: #302E35;
}
.wrapper__footer {
    width: 75%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: 'l f c n';
    padding: 20px 0 0;

}

/*LOGO*/
.wrapper__footer_logo {
    display: flex;
    color: #ffffff;
    grid-area: l;

}
.wrapper__footer_logo_img {
    padding-right: 12px;
}
.wrapper__footer_logo_img img {
    width: 120px;
    height: 150px;
}
.wrapper__footer_logo_title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
}

/*FORM*/
.wrapper__footer_form {
    width: 250px;
    grid-area: f;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.wrapper__footer_form_send{
    width: 100%;
    max-height: 44px;
    display: flex;
    align-items: center;
}
input[type='send']{
    background-color: #302E35;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 90%;
    height: 90%;
    color: #ffffff;
    opacity: 0.4;
    font-family: Montserrat,sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    padding: 17px 8px 18px;
}
input[type='send']::placeholder{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.wrapper__footer_form_send svg{
    font-size: 21px;
    font-weight: 300;

}
.wrapper__footer_form_send svg:hover{
    color:#9F1B1B;
    transition: 0.5s;
}
.title{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 16px;
    display: inline-block;
    text-align: left;
    padding-left: 7px;
}
/*CONTACT*/
.wrapper__footer_contact {
    grid-area: c;
    color: #ffffff;
    text-align: left;
}
.wrapper__footer_contact_info {
    width: 235px;
    text-align: left;
}
.contact_enquiries_phone span, .contact_enquiries_mail a .contact_enquiries_location span {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.contact_enquiries_phone svg, .contact_enquiries_mail svg, .contact_enquiries_location svg {
    font-size: 30px;
    color: #9F1B1B;
    padding: 0 5px;
}
.contact_enquiries_location svg{
    padding: 0 7px;
}
.contact_enquiries_phone, .contact_enquiries_mail, .contact_enquiries_location {
    padding-bottom: 16px;
    display: flex;
}
.contact_enquiries_mail a {
    color: #ffffff;
    text-decoration: none;
}

/*Nav*/
.wrapper__footer__footMenu {
    grid-area: n;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.wrapper__footer__footMenu a {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 16px;
}
.wrapper__footer__footMenu a:hover {
    font-weight: bold;
    transition: 0.5s;
}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 700px) {
    .wrapper__footer {
        grid-template-areas: 'l c'
                             'f c'
                             'n n';
    }
}