.app{
    overflow: hidden;
}
.item{
    width: 250px;
    height: 190px;
    padding: 0 12px;
}
.wrap {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn{
    position: relative;
    top: 0;
    left: 332px;
    right: 0;
    overflow: hidden;
    margin-bottom: 30px;
}
.btnPrev{
    background-color: #534540;
    border: none;
    padding: 10px 24px;
    color: #ed1c27;
    transform: skew(-33deg);
    overflow: hidden;
    vertical-align: bottom;
}
.btnPrev span{
    transform: skew(33deg);
    display: inline-block;
    vertical-align: bottom;
}
.btnNext span{
    transform: skew(33deg);
    display: inline-block;
    vertical-align: bottom;
}
.btnNext{
    background-color:#ed1c27;
    border: none;
    padding: 10px 24px;
    transform: skew(-33deg);
}
.btnNext:hover {
    color: #ffffff;
    transition: 0.5s;
}
.btnPrev:hover{
    color: #ffffff;
    transition: 0.5s;
}

@media screen and (max-width: 1100px) {
    .btn{
        left: 281px;
    }
    .item{
        padding: 0 30px;
    }
}
@media screen and (max-width: 700px) {
    .btn{
        left: 97px;
    }
    .item{
        padding-left: 35px;
    }
}