.container {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 82px;
    background: linear-gradient(90deg, #9F1B1B 0%, #302E35 81.25%);
}
.container nav{
    height: 100%;
}
.wrapper {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.item {
    display: flex;
    align-items: center;
    margin: 0;
}
.item > a {
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
    background: none;
    position: relative;
    padding: 0 15px;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;


}
.item > a:hover {
    font-weight: bold;
    transition: 400ms;
    color:#ffffff;
}
.item .activeLink {
    font-weight: bold;
}
.logotip{
    display: flex;
    align-items: center;
}
.logotip img{
    width: 60px;
    height: 74px;
}
.logotip span{
    padding-left: 32px;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}


.burgerMenu{
    display: none;
}


@media screen and (max-width: 1100px) {
    .burgerMenu{
        display: block;
        margin-right: 35px;

    }
    .item {
        display: none;
    }
    .navbar,.hidden{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 700px) {
    .wrapper{
        padding: 0;
    }
    .item {
        display: none;
    }
    .hidden{
        display: none;
    }
    .navbar ,.hidden{
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .navbar{
        height: 100px;
    }
    .logotip:before{
        content: none;
    }
    .logotip{
        display: flex;
        padding: 20px 80px 10px 20px;
    }
    .logotip img{
        width: 83px;
        height: 95px;

    }
    .logotip span em, .logotip span{
        display: none;
    }
    .burgerMenu{
        display: block;
    }

}

