.wrapper{

}
.header{
    height: 50vh;
}
.wrapper__container{
    height: max-content;
    width: 90%;
    margin: 30px auto;
    display: flex;
}
.wrapper__container_wrap{
    width: 75%;
}
.wrapper__container__categories{
    width: 25%;
}
.wrapper__container__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper__container__content__infoText{
    display: flex;
    flex-direction: column;
    padding: 27px 0;
    color: #a6a6a6;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Roboto',sans-serif;
    text-align: left;
    border-bottom: 1px solid #ededed;
}
.wrapper__container__content__slider{
    width: 100%;
}
.wrapper__container__content__commentsWrap{
width: 100%;
}
.wrapper__container__content__commentsWrap__content{width: 100%}
.wrapper__container__content__commentsWrap__content h3{
    font-size: 32px;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 500;
    text-align: left;
}
.wrapper__container__content__commentsWrap__content h3 span{
    color: #ed1c27;
    font-weight: 700;
}

@media screen and (max-width: 1100px) {
    .header{
        height: 30vh;
    }
    .wrapper__container{
        flex-direction: column-reverse;
    }
    .wrapper__container_wrap{
      width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .header{
        height: 40vh;
    }
    .wrapper__container{
        flex-direction: column-reverse;
    }
    .wrapper__container_wrap{
        width: 100%;
    }
}
