/*input*/
.fieldInput {
    text-align: left;
}
.fieldInput label {
    display: inline-block;
    margin-bottom: 8px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #302E35;
}
.fieldInput div {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}
.input:focus {
    outline: none;
    border-bottom: 1px solid #9F1B1B;
}
.input {
    width: 303px;
    height: 44px;
    background: rgba(159, 27, 27, 0.15);
    border: none;
    padding: 12px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #9F1B1B;
    font-size: 16px;
    color: #302E35;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}
.input::placeholder {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(48, 46, 53, 0.45);
}
.inputError {
    border: 2px solid #9F1B1B;
    transition: 0.4s;
}
.error {
    margin-top: 8px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #9F1B1B;
}
.warning {

}


/**/
.fieldStatistic{
    width: 50%;
    text-align: left;
    padding-bottom: 24px;
}
.fieldStatistic label{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #302E35;
}
.fieldStatistic input{
    background: rgba(159, 27, 27, 0.05);
    border: none;
    border-radius: 10px;
    width: 140px;
    height: 44px;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(48, 46, 53, 0.45);
    padding: 12px;
    box-sizing: border-box;
}

/*DatePicker*/

.fieldComponent{
    /*background: rgba(159, 27, 27, 0.05);*/
    border: none;
    /*width: 200px;*/
    height: 44px;
    /*height: 30px;*/
    border-radius: 5px;
}
.fieldComponent:hover{
    border-color:rgba(159, 27, 27, 0.05) ;
}
.fieldComponent input[name='password']{
    background: rgba(159, 27, 27, 0.05);
}
.fieldComponent input[type=checkbox]{
  
}
.fieldComponent input[name='matchDate']{

}