.wrapper{
    display: flex;
    flex-direction: column;
}
.header{
    height:95vh;
}
.container{
    width: 90%;
    margin: auto;
}
.container__content{
    width: 100%;
    margin-top: 40px;
    display: flex;
}
.content{
    width: 75%;
}
.listMatch{
    background: #534540;
    height: max-content;
}
.addMatch{
    margin-top: 40px;
}


@media screen and (max-width: 1100px) {
    .header{
        height:55vh;
    }
    .container__content{
        flex-direction: column-reverse;
    }
    .listMatch{
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .header{
        height:100vh;
    }

    .container__content{
        flex-direction: column-reverse;
    }
    .listMatch{
        width: 100%;
    }
}