.wrapper{
    width: 100%;
    height: max-content;
}
.wrapper__title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 930px;
    margin: auto;
    padding-top: 40px;
}
.wrapper__title__name{
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.wrapper__title__name span{
    color: #ed1c27;
}
.wrapper__title__text{
    padding-top: 17px;
    padding-bottom: 35px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    color: #a6a6a6;
    font-size: 18px;
}
.wrapper__container{
    height: 80vh;
    background: url("./../logo/our-news-bg.jpg") 50% 100% no-repeat;

}
.wrapper__container__center{
    box-sizing: border-box;
    max-width: 980px;
    padding: 0 25px;
    display: flex;
    margin: auto;
}
.wrapper__container__article{
    display: flex;
    width: 50%;
}
.wrapper__container__article__imgWrap{
    min-height: 301px;
    overflow: hidden;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper__container__article__info{
    min-height: 301px;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.wrapper__container__article__info:before{
    content: '';
    margin-top: -15px;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #f2f2f2;
    transform: rotate(45deg);
    top: 50%;
    left: -15px;
}
.wrapper__container__article__info__data{
    padding: 22px 0 8px;
    font-size: 14px;
    color: #c4c4c4;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
}
.wrapper__container__article__info__name h4 {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Oswald',sans-serif;
    margin: 0 0 20px 0;
    font-weight: 400;
    color: #363533;
    text-transform: none;

}
.wrapper__container__article__info__text{
    font-size: 15px;
    line-height: 22px;
    color: #c4c4c4;
    font-family: 'Roboto',sans-serif;
}
.wrapper__container__article__info__text p{
    margin: 0 0 20px;
}
.wrapper__container__article__info__text__readMore{
    padding: 3px 0 25px 0;
}
.wrapper__container__article__info__text__readMore a{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    outline: none;
    color: #363533;
    text-decoration: none;
    cursor: pointer;
}
.wrapper__container__article__info__text__readMore a:hover{
    color: #ed1c27;
    text-decoration: none;
    transition: 0.5s;
}
.wrapper__container_allNewsBtn{
    padding: 40px 0 0;
    text-align: center;
    margin-bottom: 0;
}
.wrapper__container_allNewsBtn a{
    padding: 0 50px;
    background: #ed1c27;
    position: relative;
    display: inline-block;
    line-height: 38px;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color: rgba(60, 60, 60, 0.96);
    text-transform: uppercase;
    transition: 400ms all;
    text-decoration: none;

}
.wrapper__container_allNewsBtn a:before{
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 1px solid #ed1c27;
}
.wrapper__container_allNewsBtn a span{
    display: block;
    position: relative;
}
.wrapper__container_allNewsBtn a:hover{
    color: #fff;
    background: #363533;
    transition: 0.7s;
}



@media screen and (max-width: 1100px) {
.wrapper__container{
    height: auto;
    padding: 20px;
}
    .wrapper__title{
        padding: 0 25px;

    }
}
@media screen and (max-width: 700px) {
    .wrapper__container{
        height: auto;
    }
    .wrapper__title__name{
        margin: 20px 0 5px ;

    }
    .wrapper__title__text{
        width: 90%;
    }
    .wrapper__container__center{
        flex-direction: column;
    }
    .wrapper__container__article{
        width: 100%;
        flex-direction: column;
    }
    .wrapper__container__article__imgWrap, .wrapper__container__article__info{
        width: 100%;
    }
    .wrapper__container__article__info:before{
        top: 0;
        left: 46%;
    }
    .wrapper__container_allNewsBtn{
        padding: 40px 0 25px;

    }
}