.wrapper {
    padding: 0 0 0 20px;
    width: 100%;
    display: table;
    text-align: left;
    font-size: 0;
    height: 45px;
    box-sizing: border-box;
    background: #363533;
    border-bottom: 1px solid #4a4a48;

}

.wrapper > div {
    display: table-cell;
    vertical-align: middle;
    min-height: 45px;
}

.wrapper:hover {
    background: #4a4a48;
}

.item__data {
    margin: 0;
    padding-right: 19px;
    /*width: 30%;*/
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    box-sizing: border-box;
    color: #a6a6a6;
    border: solid #4a4a48;
    border-width: 0 1px 0 0;
    height: auto;
    width: 30%;
}

.item__wrapper {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 70%;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

.item__wrapper__logo img {
    width: 30px;
    height: 30px;
    background-color: transparent !important;
    border: none;
}

.item__wrapper__teamName {
    padding: 0 14px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.item__wrapper__versus {
    font-size: 12px;
    color: #ed1c27;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {
    .item__wrapper__logo {
        display: none;
    }
    .item__wrapper{
        flex-wrap: wrap;
    }
}