.img {
    height: 300px;
    width: 185px;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0 20px;
    text-align: center;
}
.text {
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
}
.item{
    padding-left: 80px;
}
.app {

}

@media screen and (max-width: 700px) {
    .app{
    }
    .item {
        padding-left: 76px;
    }
}