.app {
    overflow: hidden;
}
.wrap {
    margin-top: 20px;
}
.btn span{
    font-size: 36px;
    border-radius: 50%;
    background: rgba(182, 31, 31, 0.2);
}

@media screen and (max-width: 1100px) {
    .btn {
        left: 320px;
    }
    .item {
        padding: 0 40px;
    }

}
@media screen and (max-width: 700px) {
    .item {
        padding: 0;
    }

    .btn {
        left: 116px;
    }
}