.tagElement{
    margin: 5px;
}
.tagElement a{
    padding: 0 12px 0 20px;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 2;
    font-family: 'Work Sans',sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 24px;
    background: #363533;
    text-decoration: none;
}
.tagElement a span{
    position: relative;
    display: block;
    line-height: 24px;
}
.tagElement a:before{
    content: '';
    width: 30px;
    background: #ed1c27;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -21px;
    transform: skew(-33deg);
    transition: 800ms all;
}
.tagElement a:hover:before{
    width: 160%;
}